<%= form_with(model: blog, local: true, url: choose_new_or_edit) do |form| %>
  <% if blog.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

    <ul>
    <% blog.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= form.label :blog, 'Post' %>
    <%= form.text_field :blog %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <% if @blog.id.present? %>
      <%= form.submit "Update post" %>
    <% else %>
      <%= form.submit "Create new post" %>
    <%end%>
  </div>
<% end %>
